 /*  Header Style Begins */
 .head{
  height: 5rem;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  z-index: 1;
  right:0;
  left:0;
  top:0;
}
.left-section{
  width: 60%;
  height: 100%;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  text-align: center;
  right: 0;
  color: #8bc34a;
}
.nav{
   text-decoration: none;
   color: #8bc34a;
   height: 70%;
   place-content: center;
   padding-bottom: 10px;
   scroll-behaviour: smooth;
}

.navi {
  text-decoration: none;
  scroll-behaviour: smooth;
}

.nav:hover {
 cursor: pointer;
 color: #c6e2b5;
 border-bottom: 2px solid #c6e2b5;
}

.nav:active {
  color: #34c759;
  border-bottom: 3px solid #34c759;
}

.right-section{ 
  left: 0;
}

/* Header Styles End */